*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#calculator{
    width: 400px;
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    display: flex;
    
}

#output{
    padding-top: 8px;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    border-radius: 50px;
    height: 50px;
    font-size: 2rem;
    color: white;
    text-align: center;
}

input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}
input::placeholder{
    color: #ffffff;
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#numbers{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#operator-header{
    width: 25%; 
}

#numbers-main{
    width: 75%;
}

button:hover{
    background-color: #6dee0a11;
}
#equal{
    background-color: #fb7c14;
}
.operator{
    color: #6dee0a;
}

#dot{
    display: ;
}